/*
  CSS Styling Guidelines:
  1. Search for file name to find component styling
  2. Global styles impact all elements, use sparingly
  3. Avoid inline styling
  4. Class naming convention:
      <Component name>-<element without vowels if possible>
      i.e. for a Book component button the name would be "Book-btn"
*/

/* Global Styles */
html {
  font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif`;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #3182CE;
}

a:hover {
  text-decoration: none;
  filter: brightness(80%);
  transition: .6s;
}

button:hover {
  transition: .6s;
  filter: brightness(115%);
}

nav {
  display: flex;
  align-items: center;
}

li {
  margin-bottom: 3px;
}

pre[class*="language"] {
  border-radius: 0;
  background: #f6f8fa; /* #1A202C */
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  text-shadow: none;
}

:not(pre) > code[class*="language"] {
  border-radius: 0;
  background: #f6f8fa; /* #EDF2F7 */
  color: black;
  padding: 3px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  text-shadow: none;
}

code[class*="language-"], pre[class*="language-"] {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  text-shadow: none;
}

pre {
  background: #f6f8fa;
  font-size: 16px;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: 32px;
  overflow: scroll;
  text-shadow: none;
}

.Footer {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}

.Flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.Grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}

.Content {
  max-width: 950px;
  width: 72vw;
}

@media only screen and (max-width: 800px) {
  .Footer {
    flex-direction: column;
  }
  .Grid {
    grid-template-columns: auto;
  }
  .Flex {
    flex-direction: column;
  }
  .Sidebar {
    display: none;
  }
  .Content {
    width: 100%;
  }
  .Index-url {
    display: none;
  }
  .Index-cd-alt {
    max-width: 550px;
  }
}

/* header.js */
.Header {
  position: sticky;
  top: 0;
  background-color: rgb(10, 13, 17);
  z-index: 1;
  color: white;
}

.Header-nv {
  margin: auto;
  max-width: 1200px;
}

.Header-a, .Header-p {
  font-size: calc(1vw + 4px);
  margin: 2vh 2vw;
}

.Header-a-actv {
  color: #38A169;
}

/* index.js */
.Index-mn {
  max-width: 1200px;
  margin: auto;
  padding: 80px 10px;
}

.Index-hr {
  background-image: linear-gradient(rgb(10, 13, 17) 0%, rgb(50, 56, 64) 100%);
  height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.Index-h2 {
  font-size: calc(16px + 2vw);
  margin: 0 auto;
  color: white;
  border-bottom: none;
}

.Index-p {
  color: #1A202C;
  list-style: none;
}

.Index-hr-txt {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.Index-h3 {
  color: #E2E8F0;
  font-size: calc(16px + .7vw);
}

.Index-cd {
  font-size: calc(20px + .7vw);
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  overflow-x: scroll;
  line-height: 32px;
  color: #E2E8F0;
  background-color: #4A5568;
  padding: 5px 5px 5px 10px;
  letter-spacing: 5px;
}

.Index-btn {
  font-size: calc(16px + .7vw);
  background-color: #4A5568;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  color: white;
  border: none;
  padding: 8px 16px;
  display: flex;
  cursor: pointer;
  margin: auto;
}

.Index-crsr {
  width: 15px;
  height: calc(20px + .7vw);
  animation: crsr 1.2s infinite;
  margin-top: 8px;
}

.Index-mn-cnt {
  max-width: 550px;
  margin: 20px;
}

@keyframes crsr {
    0% { background: rgb(10, 13, 17); }
    50% { background: rgb(10, 13, 17); }
    51% { background: transparent; }
    99% { background: transparent; }
    100% { background: rgb(10, 13, 17); }
}

.Index-url {
  position: absolute;
  right: -70px;
  color: #38A169;
  transform: rotate(270deg);
  background-color: #4A5568;
  padding: 10px;
  margin: 0;
}

.Index-cd-alt {
  background: rgb(50, 56, 64);
  border-radius: 15px;
  width: 550px;
  height: 400px;
  overflow-x: scroll;
  color: white;
  padding: 15px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: calc(.5vw + 5px);
}

.Index-h2-alt {
  color: #38A169;
  border-bottom: none;
  margin: 0;
}

.Index-h3-alt {
  margin-top: 10px;
}

/* md-page.js */
.Md-mn {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.Md-cntnt {
  color: black;
  margin: 0;
  padding: 20px;
  max-width: 850px;
}

.Md-actv-lnk {
  color: #38A169;
  font-weight: 700;
}

.Md-pst-ftr {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
  padding-top: 10px;
}

.Md-rrw {
  padding-top: 5px;
}

/* Tutorial.js, docs.js */
.Tutorial-mn {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}

.Tutorial-cntnt {
  color: black;
  margin: 0;
  max-width: 850px;
  padding: 20px;
}

.Tutorial-sdbr {
  background: #F7FAFC;
  width: 20vw;
  height: 100vh;
  padding: 15px;
  color: #63B3ED;
  position: sticky;
  top: 62px;
}

/* license.js, contact.js, contributing.js */
.License-mn {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 60vh;
  padding: 50px 10px;
}

/* footer.js */
.Footer-ctr {
  background-color: rgb(10, 13, 17);
  padding: 10px;
  color: white;
}

.Footer-ul {
  list-style: none;
  margin-left: 0;
}

.Footer-lnk {
  color: #3182CE;
}

.Footer-p {
  margin-bottom: 15px;
}
