body {
    background-color:green; 
}
#info {
    left: 20%;
    position: fixed;
    top:1%;
    width: 200px;
    font-size: 100%;
}
#info_timer, #info_flags, #setting_restart {
    width: 100px;
    position: fixed;
    text-align: center;
    top: 2%;
    height: 30px;
    font-size:130%;
    background-color: #707070;
    border-radius: 6px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
#info_timer {
    margin-left: 240px;
    height:40px;
    width: 100px;
    top: 1.5%;
    font-size:200%;
}
#info_flags {
    margin-left: 370px;
}
#info_flags_img {
    position: absolute;
    width:50px;
    height:50px;
    top: 10%;
    margin-left: -60px;
    filter: grayscale(100%);
}
#info_flags_text, #info_timer_text {
    margin-top: 2px;
}
#settings {
    position: fixed;
    left: 35%;
    top: -100%;
    width: 17%;
    height: 200px;
    text-align: center;
    background-color: #707070;
    border-radius: 25px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#setting_danger {
    margin:auto;
    width:52px;
    height:29px;
    background-color: green;
    border-radius: 25px;
}
#setting_restart {
    position: absolute;
    width: 100px;
    height:35px;
    font-size: 100%;
    margin-left: 114px;
    top: 40%;
    background-color: blue;
    border-color: darkblue;
}
#setting_visible {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    background-image: url('gear.png');
    border: 0px;
    position: fixed;
    top: 3%;
}
#setting_bombs {
    width:40px;
}
#setting_danger_inner {
    position: relative;
    left: 12px;
    top: 2px;
    width: 25px;
    height:25px;
    background-color:gray;
    border: 0px;
    border-radius: 25px;
}
#setting_flag_inner {
    left: -12px;
}
#board {
    position: fixed;
    left: 20%;
    top: 10%;
}
#board>div {
    position: absolute;
}
#board>div>div {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: #303030;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 3px;
    background-position: center;
    background-size: cover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#board>div>div>p {
    position: absolute;
    top: -80%;
    margin-left: 25%;
    margin-top: 80%;
    font-size: 130%;
    font-weight: 550;
    user-select: none;
    color:black;
}
#loser, #winner {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: #707070;
    border-radius: 25px;
    text-align: center;
    left: 30%;
    top: -100%;
    border-style: solid;
    border-color: black;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#loser>button, #winner>button {
    width: 100px;
    height:60px;
    font-size: 130%;
    border-radius: 50px;
    background-color: blue;
    border-color: darkblue;
    margin-top: 10%;
} 
@keyframes slidein {
    from {
        top: -100%;
    }
    to {
        top:30%;
    }
}
@keyframes slideout {
    from {
        top: 30%;
    }
    to {
        top: -100%;
    }
}
@keyframes reveal {
    from {
        font-size: 0%;
        background-color:#303030;
    }
    20% {
        background-color: #202020;
    }
    50% {
        font-size: 150%;
    }
    to {
        font-size: 130%;
        background-color:#909090
    }
}
@media only screen and (max-width: 1000px) {
    #board>div>div {
        width: 50px;
        height: 50px;
    }
    #board {
        left: 1%;
    }
    #info {
        left: 15%;
        top: 3%;
        scale: 1.4;
        height: 25px;
    }
    #setting_flag {
        display: unset;
    }
    #setting_restart {
        top: 5%;
        margin-left: 230px;
        scale: 1.4;
    }
    #settings, #winner, #loser {
        left: 24%;
        scale: 1.4;
        width: 500px;
    }
  }