config.guess
autom4te.cache
aclocal.m4
config.sub
configure
depcomp
install-sh
missing
ltmain.sh
Makefile.in
config.status
config.log
compile
node_modules
.cache
*~
*.la
libtool
*.tar.gz
*.dSYM
.deps
*.o
.dirstamp
*.Po