*~
*.dSYM
ac_buffer_init
ac_buffer_pool_init
ac_buffer_clear
ac_buffer_destroy
ac_buffer_resize
ac_buffer_shrink_by
ac_buffer_alloc
ac_buffer_append_ualloc
ac_buffer_append
ac_buffer_appendc
ac_buffer_appendf
ac_buffer_appendvf
ac_buffer_appendn
ac_buffer_appends
ac_buffer_set
ac_buffer_setc
ac_buffer_setf
ac_buffer_setvf
ac_buffer_setn
ac_buffer_sets
