*~
*.dSYM
ac_malloc
ac_calloc
ac_realloc
ac_memdup
ac_strdup
ac_strdupf
ac_strdupvf
ac_strdupa
ac_strdupa2
ac_strdupan
ac_split.1
ac_split.2
detecting_memory_loss
detecting_memory_loss_fix
double_free
double_free_fix
free_wrong_memory
free_wrong_memory_fix
track_over_time
track_objects
track_objects_fix
