@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#wrap {
  background-color: whitesmoke;
  width: fit-content;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 260.63px;
  min-height: 337px;
}

#top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#top-bar button {
  font-size: 20px;
  margin: 10px 10px 10px;
  border: none;
  background-color: transparent;
}

#game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  display: auto;
}

#help-page {
  max-width: 260.63px;
  max-height: 337px;
}

#help-page ul {
  margin-top: 20px;
  padding-left: 25px;
}

#help-page li {
  padding-top: 27px;
}

#settings-page {
  display: none;
  flex-direction: column;
  align-items: center;
}

#settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#help-page {
  display: none;
  flex-direction: column;
  align-items: center;
}

.setting-text {
  margin-top: 8px;
}

.setting {
  margin-top: 11px;
  width: 200px;
  height: 25px;
  border: 2px black solid;
  border-radius: 5px;

  padding-left: 5px;
}

.btn {
  margin-top: 40px;
  background: white;
  border: solid 2px black;
  border-radius: 5px;
  width: 200px;
  height: 50px;
}

#bottom-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stat {
  text-align: center;
  width: 33.3%;
  font-size: small;
}

.cell {
  width: 25px;
  height: 25px;
  display: table-cell;
  cursor: default;
}
