:root {
  --grid-col: 4;
  --grid-rows: 4;
  --square-font-size: 1.1em;
  --button-color: white;
  --button-text-color: black;
}

@font-face {
  font-family: 'Sigmar';
  src: url('../fonts/SigmarOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('../media/images/Plain.png');
  background-position: center;
  background-size: cover;
  font-family: 'Sigmar';
  color: white;
  height: 100vh;
  margin: 0;
  font-size: 16px;
}

.container {
  display: flex;
  position: absolute;
  justify-content: space-around;
  width: 100%;
  height: 85vh;
  padding-top: 2%;
}

#board {
  width: 75vh;
  max-width: 95vw;
  margin: 2% auto;
}

.sidebar {
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 100, 22, 0.75);
  padding: 2%;
  font-size: 1.25em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.sidebar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebar-section:first-child {
  flex-grow: 2;
}

.sidebar-section:last-child {
  flex-grow: 1;
}

#num-flags {
  width: 115px;
  text-align: right;
  transform: translateY(-6px);
  color: #006416;
}

#menu-button {
  width: 30px;
  height: 30px;
  background-image: url('../media/images/hamburger_menu.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-label {
  display: block;
}

.info {
  font-size: 3em;
  line-height: 1em;
  display: inline-block;
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.modal {
  position: absolute;
  animation-name: modal-fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.modal-box {
  display: inline-block;
  padding: 4%;
  min-width: 400px;
  background-color: #01b127;
  margin: auto;
  top: 50%;
  border-radius: 20px;
  transform: translateY(-50%);
  position: relative;
}

.modal-content {
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4%;
}

.modal-buttons button {
  font-size: 1.5em;
  font-family: 'Sigmar';
  border: none;
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 2% 3%;
  border-radius: 10px;
  cursor: pointer;
  margin: 3%;
}

#new-game-options {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: center;
  text-align: center;
  width: 90%;
}

#new-game-options input {
  border: none;
  font-family: 'Sigmar';
  padding: 1%;
  border-radius: 10px;
  font-size: 1.5em;
  max-width: 100%;
  text-align: center;
  line-height: 23px;
  margin-bottom: 30px;
}

.flag-select-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 240px;
}

.icon-image {
  width: 50px;
  display: inline-block;
}

.flag-button-wrapper {
  background-color: rgba(65, 241, 103, 0.5);
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
}

.flag-button-wrapper:hover {
  background-color: rgba(65, 241, 103, 0.25);
}

.flag-button-wrapper:active {
  background-color: rgba(65, 241, 103, 0.75);
}

.grayed-out {
  filter: grayscale(100%);
}

#time {
  width: 200px;
  transform: translateY(10px);
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: 90vh;
  }
}
