/* The switch - the box around the slider */

:host(.flag-select) {
  display: block;
  margin: auto;
}

.toggle-switch {
  width: 100px;
  height: 50px;
  display: block;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
}

.toggle-switch::before {
  position: relative;
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background-color: #41f167;
  border-radius: 20px;
  top: 5px;
  left: 5px;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
/* 
.toggle-switch:hover:before {
  width: 50px;
  transition-duration: 0.2s;
} */

input {
  height: 0;
  width: 0;
  visibility: hidden;
}

input:checked + .toggle-switch::before {
  top: 5px;
  right: 5px;
  transform: translateX(50px);
  background-color: white;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

input:checked + .toggle-switch {
  background-color: #41f167;
}

.toggle-switch:active::before {
  width: 50px;
}

input:checked + .toggle-switch:active::before {
  transform: translateX(40px);
  width: 50px;
}
